name: lint

permissions:
  contents: read

on:
  push:
  pull_request:
  workflow_call:

jobs:
  lint:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v5.1.0
        with:
          go-version: 1.24
      - run: go install
      - run: go test ./...
      - run: go vet ./...
      - uses: dominikh/staticcheck-action@v1.3.1
        with:
          version: latest
          install-go: false
      - uses: golangci/golangci-lint-action@v3
        with:
          version: latest
